# Esta variavel indica a versao do arquivo de configuracao. Ela é usada para
# verificar se o arquivo foi alterado de forma incompativel com versoes anterioes.
# Se houver alteracao eh incrementada. O build eh realizado em build/conf/bblayers.conf
POKY_BBLAYERS_CONF_VERSION = "2"

# Indica o caminho base para o bitbake encontrar os arquivos. TOPDIR referencia o diretório raiz do Yocto
BBPATH = "${TOPDIR}"

# Define uma lista de arquivos de receita a serem considerados. No caso abaixo está vazio.
BBFILES ?= ""

# Define as camadas que o Yocto deve usar durante a construção da imagem.
BBLAYERS ?= " \
  ${TOPDIR}/../layers/meta \
  ${TOPDIR}/../layers/meta-poky \
  ${TOPDIR}/../layers/meta-yocto-bsp \
  ${TOPDIR}/../layers/meta-oe/meta-oe \
  ${TOPDIR}/../layers/meta-oe/meta-filesystems \
  ${TOPDIR}/../layers/meta-oe/meta-multimedia \
  ${TOPDIR}/../layers/meta-oe/meta-networking \
  ${TOPDIR}/../layers/meta-oe/meta-python \
  ${TOPDIR}/../layers/meta-qt5 \
  ${TOPDIR}/../layers/meta-raspberrypi \
  ${TOPDIR}/../layers/meta-rust-bin \
  ${TOPDIR}/../layers/meta-updatehub \
  ${TOPDIR}/../layers/meta-updatehub-qa \
  ${TOPDIR}/../layers/meta-updatehub-raspberrypi \
  ${TOPDIR}/../layers/meta-thinclient \
  "