# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/../layers/meta \
  ${TOPDIR}/../layers/meta-poky \
  ${TOPDIR}/../layers/meta-yocto-bsp \
  ${TOPDIR}/../layers/meta-oe/meta-oe \
  ${TOPDIR}/../layers/meta-oe/meta-filesystems \
  ${TOPDIR}/../layers/meta-oe/meta-multimedia \
  ${TOPDIR}/../layers/meta-oe/meta-networking \
  ${TOPDIR}/../layers/meta-oe/meta-python \
  ${TOPDIR}/../layers/meta-qt5 \
  ${TOPDIR}/../layers/meta-raspberrypi \
  ${TOPDIR}/../layers/meta-qtcon-brasil \
  "

