#
# Primeira Parte
# 
MACHINE = "raspberrypi3"

DL_DIR ?= "${TOPDIR}/../dl"

SSTATE_DIR ?= "${TOPDIR}/sstate-cache"

TMPDIR = "${TOPDIR}/tmp"

DISTRO = "poky"

PACKAGE_CLASSES = "package_ipk"

USER_CLASSES ?= "buildstats image-mklibs image-prelink"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"


CONF_VERSION = "1"

#
# Segunda Parte
#
IMAGE_FSTYPES_append = " rpi-sdimg"
RPI_USE_U_BOOT = "1"
DISABLE_VC4GRAPHICS = "1"
DISABLE_OVERSCAN = "1"
# ENABLE_UART = "1"
# SERIAL_CONSOLES = "115200;ttyAMA0"


#
# Terceira Parte
#
SYSVINIT_ENABLED_GETTYS = ""
DISTRO_FEATURES_BACKFILL_CONSIDERED = "sysvinit"
DISTRO_FEATURES_append = " bluetooth wifi systemd gstreamer pam opengl"
DISTRO_FEATURES_remove = " x11 vulkan wayland irda pcmcia nfc nfs"

VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = ""
PREFERRED_PROVIDER_udev = "systemd"
PREFERRED_PROVIDER_udev-utils = "systemd"

PREFERRED_PROVIDER_jpeg = "libjpeg-turbo"
PREFERRED_PROVIDER_jpeg-native = "libjpeg-turbo-native"


#
# Quarta Parte
#
# Keep only the latest image
RM_OLD_IMAGE = "1"
INHERIT += " rm_work"
