[Unit]
Description=Qt5 EveryWhereDemo
After=systemd-user-sessions.service

[Service]
User=root
EnvironmentFile=-/etc/default/qt5
Environment=QT_QPA_PLATFORM=eglfs
ExecStart=/usr/share/qt5everywheredemo-1.0/QtDemo

[Install]
WantedBy=multi-user.target
